@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Bebas+Neue&display=swap");

#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
  /* height: 100vh; */
  font-family: "Barlow", sans-serif;
}
body {
  margin: 0;
  background-color: #ce2829;
}

.pizzasize {
  background-color: #faf7f2;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.4em;
  font-weight: 700;
  height: 50px;
  margin: 10px;
  width: 50px;
}

.pizzasize:hover {
  background-color: #f4ebcb;
}

.selected {
  background-color: #fdc913 !important;
  color: white;
}

.doughsize {
  background-color: #faf7f2;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.199);
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1.3em;
  outline: none;
  width: 18rem;
}

.malzemeler {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 10px;
  position: relative;
  width: 100px;
}

.malzemeler input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkmark {
  align-items: center;
  background-color: #faf7f2;
  border: 0 solid transparent;
  border-radius: 5px;
  display: flex;
  height: 50px;
  justify-content: center;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}

.malzemeler input:checked ~ .checkmark:before {
  border-color: #292929;
}

.malzemeler input:checked ~ .checkmark {
  background-color: #fdc913;
}
.malzemeler input:checked ~ .checkmark:before {
  display: block;
}

.checkmark:hover {
  background-color: #f4ebcb;
}
.checkmark:before {
  border: solid #000;
  border-bottom-right-radius: 6px;
  border-width: 0 3px 3px 0;
  content: "";
  display: none;
  height: 30px;
  left: 18px;
  position: absolute;
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 15px;
}

.textarea {
  background-color: #faf7f2;
}

.namearea {
  background-color: #faf7f2;
}

.ordertotal {
  background-color: #faf7f2;
  width: 60%;
}
